<% if (isLoggedIn) { %>
 
    
    <form action="/cart" method="POST">
        <input type="hidden" name="id"  value="<%= pizza._id %>">
        <button class="btn"> Add </button>
    </form>
    <% } %>