<header>
    <nav>
        <ul>
            <li><a href="/"  class="<%= path== '/' ? 'active': '' %>"> Shop</a></li>
            <li><a href="/admin/add-pizza" class="<%= path=='/admin/add-pizza' ? 'active':' ' %>"> Add a new Pizza</a></li>
        </ul>
    </nav>
</header>