.flex-detail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    
    
}
label{
    font-size: 1.5rem;
}
img{
    width: 100%;
}
div{
    text-align: center;
}
.left-detail , right-detail{
    width: 40%;
}
textarea{
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}
form{
    margin-top: 2rem;
}